stages:
  - dependencies
  - test_integration_units
  - E2E

dependencies:
  stage: dependencies
  script:
    - pip install -r src/requirements.txt

test:
  stage: test_integration_units
  script:
    - python3 -m pytest -s

E2E:
  stage: E2E
  script:
    - PYTHONPATH=$(pwd) fastapi dev src/applications/member_data.py --port 6001 &
    - PYTHONPATH=$(pwd) fastapi dev src/applications/prediction.py --port 6002 &
    - PYTHONPATH=$(pwd) fastapi dev src/applications/offer_engine.py --port 6003 &
    - PYTHONPATH=$(pwd) fastapi dev myapp/perk_app.py --port 6000 &
    - sleep 5
    - python3 myapp/events_streamer.py
    - pkill -f "fastapi dev"
    - sleep 2
    - head -5 transactions.csv
  artifacts:
    paths:
    - processed_requests.log
    - transactions.csv
    expire_in: 1 week